<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Your TODOList</title>
</head>
<body>
<!--<div>
    <h1>Stwórz swoją TODO listę!</h1>
    <div id="formular">
        <form action="/add" method="get">
            <label>Nazwa zadania:</label>
            <input type="text" name="nameToDo">
            <br>
            <label>Opis:</label>
            <textarea name="todo"></textarea>
            <br>
            <label>Status:</label>
            <br>
            <select>
                <option value="Zrobione">Zrobione</option>
                <option value="Do zrobienia">Do zrobienia</option>
                <option value="W trakcie...">W trakcie...</option>
            </select>
            <br>
            <input type="submit" value="GOTOWE!">
        </form>
    </div>
</div>
-->
<h2>Dodaj zadanie</h2>

<form action="/" method="post">
    <input type="text" name="nameToDo" autofocus required placeholder="Nazwa tego czegos">
    <input type="text" name="todo" required placeholder="Opis...">
    <input type="text" name="status" placeholder="Opis...">
    <input type="submit" value="Dodaj">
</form>

</body>
</html>